%script{:async => "", :src => 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
%ins{:class =>"adsbygoogle", :style=>"display:block", :data => {:ad => {  :client=> "ca-pub-5106796650047961", :slot => "4891592934", :format =>"auto"}}}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
