%script{:async => "", :src => 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
-# %ins{:class =>"adsbygoogle ad-large", :style=>"display:block;", :data => {:ad => {  :client=> "ca-pub-5106796650047961", :slot => "4284828515", :format =>"auto"}}}
%ins{:class =>"adsbygoogle ad-normal", :style=>"display:block;", :data => {:ad => {  :client=> "ca-pub-5106796650047961", :slot => "4284828515"}}}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
