%script{:async => "", :src => 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
%ins{:class =>"adsbygoogle ad-small", :style=>"display:block;", :data => { :ad => { :client=> "ca-pub-5106796650047961", :slot => "9801659321", :format =>"link"}}}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
