#analyze
  = "基準時間: " + @t.strftime("%Y/%m/%d %H:%M:%S")
  #log-ipGET.linechart.analyze.white-back
    %p アクセスしたip address数(非ログイン時のおれらの情報含む)
  #log-userGET.linechart.analyze.white-back
    %p アクセスしたuser数
  #user-type.piechart.analyze.white-back
    %p User Login Type
  #user-notice.piechart.analyze.white-back
    %p User Notice Rate

  %p 全PV数の合計(非ログイン時のおれらの情報含む)
  %p 直帰率(1日１ページしかアクセスしていないユーザ/全訪問ユーザ)(非ログイン時のおれらの情報含む)
  %p 直帰率(loginユーザ)(1日１ページしかアクセスしていないユーザ/全ログインユーザ)
