#analyze
  = "基準時間: " + @t.strftime("%Y/%m/%d %H:%M:%S")
  #log-ipGET.linechart.analyze.white-back
    %p アクセスしたip address数
  #log-userGET.linechart.analyze.white-back
    %p アクセスしたuser数
  #user-type.piechart.analyze.white-back
    %p User Login Type
  #user-notice.piechart.analyze.white-back
    %p User Notice Rate
